<!-- <div class="bg-light-black text-white">
  <h2>Create Transaction</h2>
  <form (ngSubmit)="createTransaction()">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" [(ngModel)]="newTransaction.amount" name="amount" required>

    <label for="date">Date:</label>
    <input type="date" id="date" [(ngModel)]="newTransaction.date" name="date" required>

    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="newTransaction.description" name="description">

    <label for="categoryid">CategoryId:</label>
    <input type="number" id="categoryid" [(ngModel)]="newTransaction.categoryid" name="categoryid">

    <button type="submit">Create</button>
  </form>
</div> -->
<div class="h-[100%] w-[100%]">
<div class="flex flex-col justify-between w-[100%] h-[60%] container mx-auto p-4 mt-[50px] bg-light-black rounded-xl">
  <table class="w-[100%] h-[90%] bg-light-black text-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Transaction Date</th>
        <th class="py-2 px-4 border-b">Description</th>
        <th class="py-2 px-4 border-b">Amount</th>
        <th class="py-2 px-4 border-b">Category</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of paginatedTransactions">
        <td class="py-1 px-4 border-b">{{ transaction.TransactionDate }}</td>
        <td class="py-1 px-4 border-b">{{ transaction.Description }}</td>
        <td class="py-1 px-4 border-b">{{ transaction.Amount }}</td>
        <td class="py-1 px-4 border-b">{{ transaction.CategoryId }}</td>
        <td class="py-1 px-4 border-b">
          <button (click)="deleteTransaction(transaction)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-white">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= transactions.length">Next</button>
  </div>
</div>

</div>
